.wrapper{
    max-width: 70rem;
    margin: 2rem auto; /* Laterais auto para a tela ficar centralizada */
    padding: 0 1rem;  /* Espaçamento entre as laterais */

    display: grid;
    grid-template-columns: 256px 1fr; /* fr unidade que diz que algo vai ter o tamanho flexivel */
    gap: 2rem;
    align-items: flex-start; /* a sidebar e post sempre fiquem alinhados para o topo */
}

@media (max-width: 768px){
    html{
        font-size: 87.5%;
    }

    .wrapper{
        grid-template-columns: 1fr;
    }    
}